NODE-RED/dashboard - provapratica.txt
[
    {
        "id": "fc9acddbd800701f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8faa2955b1806844",
        "type": "mqtt in",
        "z": "fc9acddbd800701f",
        "name": "",
        "topic": "grafico/temp/umi",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "e84ca56f79d8ebc6",
                "8e1198d6c2dbbd4c",
                "5e337750895e575c",
                "87d0c25772a70edb",
                "d75c86d3ae4b8a02",
                "3ffae80ade402bfe"
            ]
        ]
    },
    {
        "id": "c5196c3c29b90be5",
        "type": "ui-text",
        "z": "fc9acddbd800701f",
        "group": "dcb166015a59f199",
        "order": 1,
        "width": 2,
        "height": 0,
        "name": "",
        "label": "Temperatura: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.tempe",
        "valueType": "msg",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "30c769c24897638f",
        "type": "ui-text",
        "z": "fc9acddbd800701f",
        "group": "dcb166015a59f199",
        "order": 2,
        "width": 2,
        "height": 0,
        "name": "",
        "label": "Umidade: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.umi",
        "valueType": "msg",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e1198d6c2dbbd4c",
        "type": "function",
        "z": "fc9acddbd800701f",
        "name": "function - adicionar °C",
        "func": "let temp = msg.payload.temp;\nlet mensagem = temp + \"°C\";\n\nmsg.payload.tempe = mensagem;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "c5196c3c29b90be5"
            ]
        ]
    },
    {
        "id": "5e337750895e575c",
        "type": "ui-gauge",
        "z": "fc9acddbd800701f",
        "name": "gauge - temperatura",
        "group": "dcb166015a59f199",
        "order": 3,
        "value": "payload.temp",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 580,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e84ca56f79d8ebc6",
        "type": "ui-gauge",
        "z": "fc9acddbd800701f",
        "name": "gauge - umi",
        "group": "dcb166015a59f199",
        "order": 4,
        "value": "payload.humi",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-tank",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#a8f5ff",
                "text": "",
                "textType": "label"
            },
            {
                "from": "15",
                "color": "#55dbec",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#53b4fd",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#2397d1",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 550,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "87d0c25772a70edb",
        "type": "function",
        "z": "fc9acddbd800701f",
        "name": "function - adicionar %",
        "func": "let umi = msg.payload.humi;\nlet mensagem = umi + \"%\";\n\nmsg.payload.umi = mensagem;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [
            [
                "30c769c24897638f"
            ]
        ]
    },
    {
        "id": "b9d3d6b7afaf3272",
        "type": "ui-chart",
        "z": "fc9acddbd800701f",
        "group": "1b1d54df8f14fec3",
        "name": "",
        "label": "Histórico de Temperatura",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "payload.x",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.y",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ffc800",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 4,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1030,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d75c86d3ae4b8a02",
        "type": "function",
        "z": "fc9acddbd800701f",
        "name": "temp - grafico",
        "func": "let temp = msg.payload.temp || 0;\nlet t = Date.now();\n\nreturn { \n    topic: \"temperatura\", \n    payload: { x: t, y: temp } \n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 480,
        "wires": [
            [
                "9f41b443179875d6"
            ]
        ]
    },
    {
        "id": "9f41b443179875d6",
        "type": "delay",
        "z": "fc9acddbd800701f",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 480,
        "wires": [
            [
                "b9d3d6b7afaf3272"
            ]
        ]
    },
    {
        "id": "3ffae80ade402bfe",
        "type": "function",
        "z": "fc9acddbd800701f",
        "name": "umi - grafico",
        "func": "let umi = msg.payload.humi || 0;\nlet t = Date.now();\n\nreturn { \n    topic: \"umidade\", \n    payload: { x: t, y: umi } \n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "2a312e9c2bb1d11b"
            ]
        ]
    },
    {
        "id": "4ff4a82b6f8e6220",
        "type": "ui-chart",
        "z": "fc9acddbd800701f",
        "group": "1b1d54df8f14fec3",
        "name": "",
        "label": "Histórico de Umidade",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "payload.x",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.y",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#2397d1",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 4,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1020,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2a312e9c2bb1d11b",
        "type": "delay",
        "z": "fc9acddbd800701f",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 440,
        "wires": [
            [
                "4ff4a82b6f8e6220"
            ]
        ]
    },
    {
        "id": "aa2a99a9a21a5b6c",
        "type": "function",
        "z": "fc9acddbd800701f",
        "name": "ocup - grafico",
        "func": "let ocup = global.get(\"ocup_atual\") || 0;\n\n// timestamp\nlet t = Date.now();\n\nreturn { topic:\"ocupacao\",   payload:{ x:t, y:ocup } }\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 520,
        "wires": [
            [
                "71d2ac59769444a8"
            ]
        ]
    },
    {
        "id": "876b92e959838ca9",
        "type": "mqtt in",
        "z": "fc9acddbd800701f",
        "name": "",
        "topic": "ocupacao/grafico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "015292836eefaeab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 520,
        "wires": [
            [
                "aa2a99a9a21a5b6c"
            ]
        ]
    },
    {
        "id": "1ab9f5e132c1c07e",
        "type": "ui-chart",
        "z": "fc9acddbd800701f",
        "group": "1b1d54df8f14fec3",
        "name": "Histórico de Ocupação",
        "label": "Histórico de Ocupação",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "payload.x",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.y",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#4caf50",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666",
            "#666666"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 4,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1020,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "71d2ac59769444a8",
        "type": "delay",
        "z": "fc9acddbd800701f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 520,
        "wires": [
            [
                "1ab9f5e132c1c07e"
            ]
        ]
    },
    {
        "id": "3e5aeff611093456",
        "type": "ui-text",
        "z": "fc9acddbd800701f",
        "group": "9db5bbf2dfe5cb7a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor -",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.evento",
        "valueType": "msg",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "3a12e55d1b141620",
        "type": "debug",
        "z": "fc9acddbd800701f",
        "name": "debug - Valores Sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "c3e13c9c1d1ad02d",
        "type": "ui-text",
        "z": "fc9acddbd800701f",
        "group": "9db5bbf2dfe5cb7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hora - ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.timestamp",
        "valueType": "msg",
        "x": 530,
        "y": 680,
        "wires": []
    },
    {
        "id": "ddc49996182481e5",
        "type": "ui-text",
        "z": "fc9acddbd800701f",
        "group": "9db5bbf2dfe5cb7a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ocupação atual - ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.ocupacao",
        "valueType": "msg",
        "x": 570,
        "y": 800,
        "wires": []
    },
    {
        "id": "c1f439780ec06d2e",
        "type": "mqtt in",
        "z": "fc9acddbd800701f",
        "name": "",
        "topic": "ocupacao",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 800,
        "wires": [
            [
                "ddc49996182481e5",
                "48eb084dffa01d8f"
            ]
        ]
    },
    {
        "id": "dafbb8ebc256c25a",
        "type": "ui-text",
        "z": "fc9acddbd800701f",
        "group": "9db5bbf2dfe5cb7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status -",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 540,
        "y": 860,
        "wires": []
    },
    {
        "id": "29f6bba97f6c2c4c",
        "type": "mqtt in",
        "z": "fc9acddbd800701f",
        "name": "",
        "topic": "statusagora",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "dafbb8ebc256c25a"
            ]
        ]
    },
    {
        "id": "d09697563570e216",
        "type": "ui-slider",
        "z": "fc9acddbd800701f",
        "group": "35cc86b72383d9de",
        "name": "Definir ocupação",
        "label": "",
        "tooltip": "",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "5",
        "max": "100",
        "step": "5",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 810,
        "y": 800,
        "wires": [
            [
                "f40106634d31c739"
            ]
        ]
    },
    {
        "id": "f40106634d31c739",
        "type": "mqtt out",
        "z": "fc9acddbd800701f",
        "name": "",
        "topic": "definir_ocupacao",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "859ca98ef07861f8",
        "x": 1050,
        "y": 800,
        "wires": []
    },
    {
        "id": "fc143f947b393437",
        "type": "ui-text",
        "z": "fc9acddbd800701f",
        "group": "30a33e02531509cc",
        "order": 2,
        "width": 0,
        "height": 2,
        "name": "msg - Status placa 2",
        "label": " - - - - - - -  Placa 2 - - - - - - -",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "c35134b2d12e7af4",
        "type": "ui-text",
        "z": "fc9acddbd800701f",
        "group": "30a33e02531509cc",
        "order": 1,
        "width": 0,
        "height": 2,
        "name": "msg - Status placa 1",
        "label": " - - - - - - -  Placa 1 - - - - - - -",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "a9c2245880e51ee1",
        "type": "mqtt in",
        "z": "fc9acddbd800701f",
        "name": "",
        "topic": "status_placa2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "fc143f947b393437"
            ]
        ]
    },
    {
        "id": "756d700a06fb5df1",
        "type": "mqtt in",
        "z": "fc9acddbd800701f",
        "name": "",
        "topic": "status_placa1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "c35134b2d12e7af4"
            ]
        ]
    },
    {
        "id": "ed806601061c19a4",
        "type": "mqtt in",
        "z": "fc9acddbd800701f",
        "name": "",
        "topic": "sensor/hora",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "859ca98ef07861f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 640,
        "wires": [
            [
                "3e5aeff611093456",
                "c3e13c9c1d1ad02d",
                "3a12e55d1b141620"
            ]
        ]
    },
    {
        "id": "48eb084dffa01d8f",
        "type": "debug",
        "z": "fc9acddbd800701f",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 760,
        "wires": []
    },
    {
        "id": "894a7fab1cf1444c",
        "type": "comment",
        "z": "fc9acddbd800701f",
        "name": "Para definir o max da sala",
        "info": "",
        "x": 830,
        "y": 760,
        "wires": []
    },
    {
        "id": "859ca98ef07861f8",
        "type": "mqtt-broker",
        "name": "Bruno",
        "broker": "114fab7ddbdc46f4a5582af51a52f53f.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "7225f759fc5aeedf",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dcb166015a59f199",
        "type": "ui-group",
        "name": "Status Clima",
        "page": "b6cbf78709e8be37",
        "width": 4,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1b1d54df8f14fec3",
        "type": "ui-group",
        "name": "Grafico",
        "page": "b6cbf78709e8be37",
        "width": 12,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "015292836eefaeab",
        "type": "mqtt-broker",
        "name": "Vinicius",
        "broker": "114fab7ddbdc46f4a5582af51a52f53f.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "7225f759fc5aeedf",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9db5bbf2dfe5cb7a",
        "type": "ui-group",
        "name": "Status Sala",
        "page": "b6cbf78709e8be37",
        "width": "2",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "35cc86b72383d9de",
        "type": "ui-group",
        "name": "Definir Ocupação - Sala",
        "page": "b6cbf78709e8be37",
        "width": 4,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "30a33e02531509cc",
        "type": "ui-group",
        "name": " Status Placas",
        "page": "b6cbf78709e8be37",
        "width": "2",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7225f759fc5aeedf",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "b6cbf78709e8be37",
        "type": "ui-page",
        "name": "Sistema de Monitoramento ",
        "ui": "f6d8fbae78edba33",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "0cdfdf34819811df",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "f6d8fbae78edba33",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "0cdfdf34819811df",
        "type": "ui-theme",
        "name": "a",
        "colors": {
            "surface": "#c7c7c7",
            "primary": "#0094ce",
            "bgPage": "#f5f5f5",
            "groupBg": "#f0f0f0",
            "groupOutline": "#c7c7c7"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "90490828644d6b77",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]
